<!-- pages/home.html -->

{{define "content"}}
<div class="flex overflow-hidden h-screen text-sm text-white bg-main">
    <div class="hidden flex-col flex-shrink-0 w-20 border-r bg-main border-main sm:flex">
        <div class="flex justify-center items-center h-16 text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-boxes">
                <path d="M2.97 12.92A2 2 0 0 0 2 14.63v3.24a2 2 0 0 0 .97 1.71l3 1.8a2 2 0 0 0 2.06 0L12 19v-5.5l-5-3-4.03 2.42Z" />
                <path d="m7 16.5-4.74-2.85" />
                <path d="m7 16.5 5-3" />
                <path d="M7 16.5v5.17" />
                <path d="M12 13.5V19l3.97 2.38a2 2 0 0 0 2.06 0l3-1.8a2 2 0 0 0 .97-1.71v-3.24a2 2 0 0 0-.97-1.71L17 10.5l-5 3Z" />
                <path d="m17 16.5-5-3" />
                <path d="m17 16.5 4.74-2.85" />
                <path d="M17 16.5v5.17" />
                <path d="M7.97 4.42A2 2 0 0 0 7 6.13v4.37l5 3 5-3V6.13a2 2 0 0 0-.97-1.71l-3-1.8a2 2 0 0 0-2.06 0l-3 1.8Z" />
                <path d="M12 8 7.26 5.15" />
                <path d="m12 8 4.74-2.85" />
                <path d="M12 13.5V8" />
            </svg>
        </div>
        <div class="flex flex-col flex-grow mx-auto mt-4 space-y-4 text-gray-400">
            <button class="flex justify-center items-center w-12 h-10 text-white rounded-md bg-secondary text-primary">
                <svg viewBox="0 0 24 24" class="h-5" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
            </button>
            <button class="flex justify-center items-center w-12 h-10 text-gray-500 rounded-md">
                <svg viewBox="0 0 24 24" class="h-5" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
                    <line x1="12" y1="11" x2="12" y2="17"></line>
                    <line x1="9" y1="14" x2="15" y2="14"></line>
                </svg>
            </button>
            <button class="flex justify-center items-center w-12 h-10 text-gray-500 rounded-md">
                <svg viewBox="0 0 24 24" class="h-5" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <rect x="3" y="3" width="7" height="7"></rect>
                    <rect x="14" y="3" width="7" height="7"></rect>
                    <rect x="14" y="14" width="7" height="7"></rect>
                    <rect x="3" y="14" width="7" height="7"></rect>
                </svg>
            </button>
        </div>
    </div>

    <div class="flex overflow-hidden flex-col flex-grow h-full">
        <div class="hidden px-10 w-full h-16 border-b lg:flex border-main">
            <div class="flex h-full text-gray-400">
                <a href="#"
                    class="inline-flex items-center mr-8 h-full text-white border-b-2 cursor-pointer border-primary text-primary">Collections</a>
                <a href="#"
                    class="inline-flex items-center mr-8 h-full border-b-2 border-transparent cursor-pointer">Users</a>
                <a href="#"
                    class="inline-flex items-center h-full border-b-2 border-transparent cursor-pointer">Settings</a>
            </div>
            <div class="flex items-center ml-auto space-x-7">
                <button class="flex items-center">
                    <span>QDB Admin</span>
                    <svg viewBox="0 0 24 24" class="flex-shrink-0 ml-1 w-4" stroke="currentColor" stroke-width="2"
                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                </button>
            </div>
        </div>

        <div class="flex overflow-x-hidden flex-grow">
            <div class="hidden overflow-y-auto flex-shrink-0 p-5 w-48 h-full border-r xl:w-72 border-main lg:block">
                <div class="text-xs tracking-wider text-gray-400">COLLECTIONS</div>
                <div class="relative mt-2">
                    <input type="text"
                        class="pl-8 w-full h-9 text-sm text-white rounded-md border-none outline-none bg-secondary active:outline-none active:border-none"
                        placeholder="Search" />
                    <svg viewBox="0 0 24 24"
                        class="absolute left-2 top-1/2 w-4 text-gray-400 transform translate-x-0.5 -translate-y-1/2"
                        stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                </div>
                <div class="mt-3 space-y-4" id="collections"> </div>
            </div>
            <div class="overflow-y-auto flex-grow bg-gray-900 bg-main" id="placeholder">
                <div
                    class="flex sticky top-0 flex-col px-4 pt-4 w-full text-white bg-gray-900 border-b sm:px-7 sm:pt-7 border-main">
                    <div class="flex items-center w-full">
                        <div class="flex items-center text-3xl text-white">
                            <span id="collection_title">Select a collection to view its records.</span>
                            <span class="ml-2 text-sm">(Fetched collection in <span id="collection_fetch_time">0ms</span>)</span>
                        </div>
                        <div class="hidden justify-end items-center ml-auto sm:flex">
                            <div class="text-right">
                                <div class="text-xs text-gray-400">Record Count:</div>
                                <div class="text-lg text-white" id="record_count">0</div>
                            </div>
                            <button
                                class="flex justify-center items-center ml-4 w-8 h-8 text-gray-400 rounded-full border border-gray-700 shadow">
                                <svg viewBox="0 0 24 24" class="w-4" stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="19" cy="12" r="1"></circle>
                                    <circle cx="5" cy="12" r="1"></circle>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="flex items-center mt-4 space-x-3 sm:mt-7">
                        <a href="#" class="px-3 pb-1.5 text-white border-b-2 border-primary text-primary">Records</a>
                        <a href="#" class="px-3 pb-1.5 text-gray-400 border-b-2 border-transparent">Upload</a>
                        <a href="#" class="px-3 pb-1.5 text-gray-400 border-b-2 border-transparent">Settings</a>
                    </div>
                </div>
                <div class="p-4 sm:p-7">
                    <div class="flex items-center mb-7 w-full">
                        <button
                            class="inline-flex items-center py-0 pr-2 pl-2.5 mr-3 h-8 leading-none text-gray-400 text-gray-700 rounded-md border shadow border-main">
                            <svg viewBox="0 0 24 24" class="mr-2 w-4 text-gray-400" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                <line x1="16" y1="2" x2="16" y2="6"></line>
                                <line x1="8" y1="2" x2="8" y2="6"></line>
                                <line x1="3" y1="10" x2="21" y2="10"></line>
                            </svg> Last 30 days <svg viewBox="0 0 24 24" class="ml-1.5 w-4 text-gray-400"
                                stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </button>
                        <button
                            class="inline-flex items-center py-0 pr-2 pl-2.5 h-8 leading-none text-gray-400 text-gray-700 rounded-md border shadow border-main">
                            Filter by <svg viewBox="0 0 24 24" class="ml-1.5 w-4 text-gray-400" stroke="currentColor"
                                stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </button>
                        <div class="hidden items-center ml-auto text-xs text-gray-500 sm:inline-flex">
                            <span class="mr-3">Page <span id="current_page">1</span> of <span id="page_count"></span></span>
                            <button id="prevPage"
                                class="inline-flex justify-center items-center py-0 mr-2 w-8 h-8 leading-none text-gray-400 rounded-md border shadow border-main">
                                <svg class="w-4" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="15 18 9 12 15 6"></polyline>
                                </svg>
                            </button>
                            <button id="nextPage"
                                class="inline-flex justify-center items-center py-0 w-8 h-8 leading-none text-gray-400 rounded-md border shadow border-main">
                                <svg class="w-4" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="9 18 15 12 9 6"></polyline>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <table class="w-full text-left" id="records">
                        <thead>
                            <tr class="text-gray-400" id="table-header"></tr>
                        </thead>
                        <tbody class="text-gray-100" id="table-body"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="main"></div>

        <button id="side-panel-toggle" class="side-panel-toggle bg-secondary border-none outline-none active:border-none active:outline-none">
            <span class="material-icons sp-icon-open">keyboard_double_arrow_left</span>
            <span class="material-icons sp-icon-close">keyboard_double_arrow_right</span>
        </button>

        <div class="side-panel bg-light">
            <div class="modal-content text-sm p-5 bg-secondary rounded-md w-full max-w-lg mx-auto overflow-auto"
                style="max-height: 90%;">
                <div class="modal-header flex justify-between items-center">
                    <h2 class="text-xl font-bold" id="modalTitle">Document Details</h2>
                    <button class="text-gray-500 hover:text-gray-700 focus:outline-none bg-main">
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="w-6 h-6">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>
                </div>

                <div id="collectionContent" class="mt-4 overflow-auto" style="max-height: calc(100vh - 150px);"></div>
            </div>
        </div>
    </div>
</div>
{{end}}