*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --modal-width: 880px;
    --accent-primary: #f50;
    --accent-secondary: #f30;

    --accent-border: rgba(255, 51, 0, 0.2);


    --selection-bg: rgba(184, 134, 109, 0.5);
    --selection-color: rgb(211, 75, 42);

    --accent-orange: hsl(calc(20deg + /*[[hue]]*/deg) 100% 61%);
    --accent-blue: hsl(calc(203deg + /*[[blu]]*/deg) 100% 65%);
    --bg-primary: /*[[bg1]]*/;
    --bg-lighter: #1a1a1a;
    --bg-lighterer: #272727;
    --bg-darker: #0d0d0d;
    --bg-translucent: #1119;
    --bg-dropdown: #191919aa;
    --ds-small: drop-shadow(0 2px 5px #0009);

    --accent-error: #d61348;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

.border-error {
    border-color: var(--accent-error);
}

.text-error {
    color: var(--accent-error)
}

/* Standard selection */
::selection {
    background-color: var(--selection-bg);
    color: var(--selection-color) !important;
}

/* Firefox specific selection */
::-moz-selection {
    background-color: var(--selection-bg);
    color: var(--selection-color) !important;
}


.bg-accent {
    background-color: var(--accent-secondary);
}

.text-primary {
    color: var(--accent-primary) !important;
}

.bg-secondary {
    background-color: var(--bg-lighterer);
}

.border-primary {
    border-color: var(--accent-border);
}

.glow {
    box-shadow: 0 0 10px var(--accent-border);
    border-style: dashed;
}

.card {
    box-shadow: 2px 2px 24px #0003;
    background: linear-gradient(30deg, #401702 -200%, #1a181890);
}

.card-border {
    border-color: #35333355;
}

.pill {
    color: var(--accent-primary) !important;
    border-color: var(--accent-secondary);
}

.context-menu {
    color: rgb(192, 192, 192);
    padding: 0.5vh;
    border-color: var(--accent-secondary);
    background: var(--bg-lighter);
    border: 1px solid;
    border-color: var(--accent-border);
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
body {
    font-family: Inter, Interstate, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
}
hr {
    height: 0;
    color: inherit;
}
abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Consolas, liberation mono, Menlo,
        monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
table {
    text-indent: 0;
    border-color: inherit;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
select {
    text-transform: none;
}
button,
[type="button"] {
    -webkit-appearance: button;
}
legend {
    padding: 0;
}
progress {
    vertical-align: baseline;
}
summary {
    display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}
button {
    background-color: transparent;
    background-image: none;
}
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
fieldset {
    margin: 0;
    padding: 0;
}
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
        apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    line-height: 1.5;
}
body {
    font-family: inherit;
    line-height: inherit;
}
*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e4e4e7;
}
hr {
    border-top-width: 1px;
}
img {
    border-style: solid;
}
textarea {
    resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #a1a1aa;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #a1a1aa;
}
input::placeholder,
textarea::placeholder {
    color: #a1a1aa;
}
button {
    cursor: pointer;
}
table {
    border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
a {
    color: inherit;
    text-decoration: inherit;
}
button,
input,
optgroup,
select,
textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
pre,
code,
kbd,
samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        liberation mono, courier new, monospace;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}
img,
video {
    max-width: 100%;
    height: auto;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-3 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.75rem * var(--tw-space-x-reverse));
    margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.space-x-7 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.75rem * var(--tw-space-x-reverse));
    margin-left: calc(1.75rem * calc(1 - var(--tw-space-x-reverse)));
}
.bg-transparent {
    background-color: transparent;
}

.bg-main {
    background-color: var(--bg-darker);
}

.border-main {
    border-color: var(--bg-lighterer) !important;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
}
.bg-yellow-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(254, 243, 199, var(--tw-bg-opacity));
}
.bg-green-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(209, 250, 229, var(--tw-bg-opacity));
}
.bg-green-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
}
.bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(219, 234, 254, var(--tw-bg-opacity));
}
.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
}
@media (prefers-color-scheme: dark) {
    .dark\:bg-gray-700 {
        --tw-bg-opacity: 1;
        background-color: rgba(63, 63, 70, var(--tw-bg-opacity));
    }
    .dark\:bg-gray-800 {
        --tw-bg-opacity: 1;
        background-color: rgba(39, 39, 42, var(--tw-bg-opacity));
    }
    .dark\:bg-gray-900 {
        --tw-bg-opacity: 1;
        background-color: rgba(24, 24, 27, var(--tw-bg-opacity));
    }
}
.border-transparent {
    border-color: transparent;
}
.border-white {
    --tw-border-opacity: 1;
    border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgba(228, 228, 231, var(--tw-border-opacity));
}
.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgba(212, 212, 216, var(--tw-border-opacity));
}
.border-blue-500 {
    --tw-border-opacity: 1;
    border-color: rgba(59, 130, 246, var(--tw-border-opacity));
}
@media (prefers-color-scheme: dark) {
    .dark\:border-white {
        --tw-border-opacity: 1;
        border-color: rgba(255, 255, 255, var(--tw-border-opacity));
    }
    .dark\:border-gray-700 {
        --tw-border-opacity: 1;
        border-color: rgba(63, 63, 70, var(--tw-border-opacity));
    }
    .dark\:border-gray-800 {
        --tw-border-opacity: 1;
        border-color: rgba(39, 39, 42, var(--tw-border-opacity));
    }
    .dark\:border-gray-900 {
        --tw-border-opacity: 1;
        border-color: rgba(24, 24, 27, var(--tw-border-opacity));
    }
}
.border-opacity-75 {
    --tw-border-opacity: 0.75;
}
.rounded-md {
    border-radius: 0.375rem;
}
.rounded-lg {
    border-radius: 0.5rem;
}
.rounded-full {
    border-radius: 9999px;
}
.border {
    border-width: 1px;
}
.border-b-2 {
    border-bottom-width: 2px;
}
.border-r {
    border-right-width: 1px;
}
.border-b {
    border-bottom-width: 1px;
}
.cursor-pointer {
    cursor: pointer;
}
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}
.table {
    display: table;
}
.hidden {
    display: none;
}
.flex-col {
    flex-direction: column;
}
.items-center {
    align-items: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.flex-grow {
    flex-grow: 1;
}
.flex-shrink-0 {
    flex-shrink: 0;
}
.font-normal {
    font-weight: 400;
}
.font-medium {
    font-weight: 500;
}
.h-2 {
    height: 0.5rem;
}
.h-5 {
    height: 1.25rem;
}
.h-7 {
    height: 1.75rem;
}
.h-8 {
    height: 2rem;
}
.h-9 {
    height: 2.25rem;
}
.h-10 {
    height: 2.5rem;
}
.h-16 {
    height: 4rem;
}
.h-full {
    height: 100%;
}
.h-screen {
    height: 100vh;
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.leading-none {
    line-height: 1;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.ml-1 {
    margin-left: 0.25rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mr-2 {
    margin-right: 0.5rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.ml-2 {
    margin-left: 0.5rem;
}
.mt-3 {
    margin-top: 0.75rem;
}
.mr-3 {
    margin-right: 0.75rem;
}
.mt-4 {
    margin-top: 1rem;
}
.mr-4 {
    margin-right: 1rem;
}
.ml-4 {
    margin-left: 1rem;
}
.mt-5 {
    margin-top: 1.25rem;
}
.mr-5 {
    margin-right: 1.25rem;
}
.mb-7 {
    margin-bottom: 1.75rem;
}
.mr-8 {
    margin-right: 2rem;
}
.ml-auto {
    margin-left: auto;
}
.ml-1\.5 {
    margin-left: 0.375rem;
}
.mr-2\.5 {
    margin-right: 0.625rem;
}
.-mb-0 {
    margin-bottom: 0;
}
.-mb-0\.5 {
    margin-bottom: -0.125rem;
}
.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-y-auto {
    overflow-y: auto;
}
.overflow-x-hidden {
    overflow-x: hidden;
}
.p-1 {
    padding: 0.25rem;
}
.p-3 {
    padding: 0.75rem;
}
.p-4 {
    padding: 1rem;
}
.p-5 {
    padding: 1.25rem;
}
.p-1\.5 {
    padding: 0.375rem;
}
.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.pt-0 {
    padding-top: 0;
}
.pb-1 {
    padding-bottom: 0.25rem;
}
.pr-2 {
    padding-right: 0.5rem;
}
.pb-2 {
    padding-bottom: 0.5rem;
}
.pl-2 {
    padding-left: 0.5rem;
}
.pb-3 {
    padding-bottom: 0.75rem;
}
.pt-4 {
    padding-top: 1rem;
}
.pl-8 {
    padding-left: 2rem;
}
.pb-1\.5 {
    padding-bottom: 0.375rem;
}
.pl-2\.5 {
    padding-left: 0.625rem;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
}
.top-0 {
    top: 0;
}
.right-0 {
    right: 0;
}
.bottom-0 {
    bottom: 0;
}
.left-2 {
    left: 0.5rem;
}
.top-1\/2 {
    top: 50%;
}
* {
    --tw-shadow: 0 0 #0000;
}
.shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
* {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}
.ring-2 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000);
}
.ring-blue-500 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(59, 130, 246, var(--tw-ring-opacity));
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgba(161, 161, 170, var(--tw-text-opacity));
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgba(113, 113, 122, var(--tw-text-opacity));
}
.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgba(82, 82, 91, var(--tw-text-opacity));
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgba(63, 63, 70, var(--tw-text-opacity));
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgba(24, 24, 27, var(--tw-text-opacity));
}
.text-red-500 {
    --tw-text-opacity: 1;
    color: rgba(239, 68, 68, var(--tw-text-opacity));
}
.text-yellow-500 {
    --tw-text-opacity: 1;
    color: rgba(245, 158, 11, var(--tw-text-opacity));
}
.text-yellow-600 {
    --tw-text-opacity: 1;
    color: rgba(217, 119, 6, var(--tw-text-opacity));
}
.text-green-500 {
    --tw-text-opacity: 1;
    color: rgba(16, 185, 129, var(--tw-text-opacity));
}
.text-green-600 {
    --tw-text-opacity: 1;
    color: rgba(5, 150, 105, var(--tw-text-opacity));
}
.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
}
@media (prefers-color-scheme: dark) {
    .dark\:text-white {
        --tw-text-opacity: 1;
        color: rgba(255, 255, 255, var(--tw-text-opacity));
    }
    .dark\:text-gray-100 {
        --tw-text-opacity: 1;
        color: rgba(244, 244, 245, var(--tw-text-opacity));
    }
    .dark\:text-gray-400 {
        --tw-text-opacity: 1;
        color: rgba(161, 161, 170, var(--tw-text-opacity));
    }
    .dark\:text-gray-500 {
        --tw-text-opacity: 1;
        color: rgba(113, 113, 122, var(--tw-text-opacity));
    }
    .dark\:text-gray-600 {
        --tw-text-opacity: 1;
        color: rgba(82, 82, 91, var(--tw-text-opacity));
    }
}
.tracking-wider {
    letter-spacing: 0.05em;
}
.w-2 {
    width: 0.5rem;
}
.w-4 {
    width: 1rem;
}
.w-5 {
    width: 1.25rem;
}
.w-7 {
    width: 1.75rem;
}
.w-8 {
    width: 2rem;
}
.w-9 {
    width: 2.25rem;
}
.w-12 {
    width: 3rem;
}
.w-20 {
    width: 5rem;
}
.w-48 {
    width: 12rem;
}
.w-full {
    width: 100%;
}
.transform {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x))
        translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-x-0 {
    --tw-translate-x: 0px;
}
.translate-x-0\.5 {
    --tw-translate-x: 0.125rem;
}
.-translate-y-1\/2 {
    --tw-translate-y: -50%;
}
@-webkit-keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes ping {
    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes ping {
    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
@-webkit-keyframes pulse {
    50% {
        opacity: 0.5;
    }
}
@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}
@-webkit-keyframes bounce {
    0%,
    100% {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
@keyframes bounce {
    0%,
    100% {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
@media (min-width: 640px) {
    .sm\:block {
        display: block;
    }
    .sm\:flex {
        display: flex;
    }
    .sm\:inline-flex {
        display: inline-flex;
    }
    .sm\:mt-7 {
        margin-top: 1.75rem;
    }
    .sm\:p-3 {
        padding: 0.75rem;
    }
    .sm\:p-7 {
        padding: 1.75rem;
    }
    .sm\:px-7 {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
    .sm\:pt-7 {
        padding-top: 1.75rem;
    }
    .sm\:text-gray-400 {
        --tw-text-opacity: 1;
        color: rgba(161, 161, 170, var(--tw-text-opacity));
    }
}
@media (min-width: 768px) {
    .md\:table-cell {
        display: table-cell;
    }
}
@media (min-width: 1024px) {
    .lg\:block {
        display: block;
    }
    .lg\:flex {
        display: flex;
    }
}
@media (min-width: 1280px) {
    .xl\:border-b {
        border-bottom-width: 1px;
    }
    .xl\:flex-row {
        flex-direction: row;
    }
    .xl\:w-72 {
        width: 18rem;
    }
}
@media (min-width: 1536px) {
}
