<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>QuadDB - {{.title}}</title>
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="icon" href="/assets/icon.svg" type="image/x-icon">

        <script src="/assets/js/toast.js"></script>
        <!-- Defer main script for loading -->
        <script src="/assets/js/dashboard.js" defer></script>
    </head>
    <body class="bg-main">
        {{template "content" .}}
    </body>
</html>